.apq__container {
  padding-left: 10px;
  padding-right: 10px;
}

* {
  box-sizing: border-box;
}

.apq__row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 15px;
}

.apq__row>form {
  display: flex;
}

.apq__col {
  padding-left: 10px;
  padding-right: 10px;
}

.apq__col label {
  display: block;
  margin-bottom: 5px;
}

.apq__col input {
  margin: 0;
}